<div class="appFooter--container">
  <div class="appFooter--container--element">
    <div class="appFooter--container--element--icon" id="footerIconId">
      <span>css</span><span>is</span> <span>awesome</span>
      <div class="appFooter--container--element--icon__border"></div>
    </div>
  </div>
  <div class="appFooter--container--element">
    <div class="appFooter--container--element--logo">nabthat</div>
  </div>
  <div class="appFooter--container--element">
    <div class="appFooter--container--element--buttonContainer">
      <div
        class="appFooter--container--element--buttonContainer--button"
        id="#manipulativeButton"
      >
        Pokaż
      </div>
      <div
        class="appFooter--container--element--buttonContainer--menu"
        id="manipulativeMenu"
      >
        <div
          class="appFooter--container--element--buttonContainer--menu__visible"
        >
          <span id="resetSettingsButtonId"> > Zresetuj ustawienia</span>
          <span id="showUserDataId"> > Pokaż dane osobowe</span>
        </div>
        <div
          class="appFooter--container--element--buttonContainer--menu__notVisible"
        ></div>
      </div>
    </div>
  </div>
</div>
