<h2 class="appSection--header">Blok pierwszy</h2>

<div class="appSection--radioOptionsContainer">
  <div class="appSection--radioOptionsContainer--row">
    <input type="radio" id="optionOne" name="option" value="optionOne" />
    <label for="optionOne">Opcja pierwsza</label>
  </div>
  <div class="appSection--radioOptionsContainer--row">
    <input type="radio" id="optionTwo" name="option" value="optionTwo" />
    <label for="optionTwo">Opcja druga</label>
  </div>
  <div class="appSection--radioOptionsContainer--row">
    <input type="radio" id="optionRand" name="option" value="optionRand" />
    <label for="optionRand">Opcja losowa</label>
  </div>
</div>
