@import '../style/constants.scss';

.appFooter {
  height: $footerHeightMaxRes;
  width: $mainContentWidthMaxRes;
  margin: 0 auto;

  &--container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $footerBackgroundColor;
    margin-top: 2px;

    &--element {
      width: 33%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:nth-of-type(1) {
        justify-content: flex-start;
      }

      &:nth-of-type(2) {
        justify-content: center;
      }

      &:nth-of-type(3) {
        justify-content: flex-end;
      }

      &--icon {
        width: $footerIconDimensions;
        height: $footerIconDimensions;
        margin: 0.8rem 3.5rem;
        padding: 0.1rem;
        position: relative;
        cursor: pointer;

        &__border {
          width: $footerIconDimensions;
          height: $footerIconDimensions;
          position: absolute;
          border: 2px solid $footerTextColor;
          top: 0;
          left: 0;
          transition: transform 0.6s ease-in;

          &:hover {
            transform: rotate(360deg);
            border-color: $hoverMainColor;
          }
        }

        span {
          display: inline-block;
          width: 100%;
          color: $footerTextColor;
          font-size: 1.7rem;
          line-height: 2rem;
          text-transform: uppercase;
          margin-left: 0.3rem;
        }
      }

      &--logo {
        color: $mainContentBackgroundColor;
        font-size: 1.7rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 1.2rem;
          left: -3.5rem;
          width: $footerLogoWing;
          height: 1px;
          background-color: $mainContentBackgroundColor;
        }

        &:before {
          content: '';
          position: absolute;
          top: 1.2rem;
          right: -3.5rem;
          width: $footerLogoWing;
          height: 1px;
          background-color: $mainContentBackgroundColor;
        }
      }

      &--buttonContainer {
        position: relative;

        &--button {
          position: relative;
          width: $footerButtonWidth;
          padding: 0.5rem;
          background-color: transparent;
          margin-right: 3.5rem;
          border: 1px solid $footerTextColor;
          font-size: 1.2rem;
          font-weight: $fontWeightBold;
          color: $greyTextColor;
          border-radius: 3px;
          cursor: pointer;
          outline: none;
          text-align: center;

          &:hover,
          &:hover + #manipulativeMenu {
            display: block;
          }

          &:after {
            content: '';
            position: absolute;
            top: 1rem;
            right: 4rem;
            width: $footerButtonSignDimension;
            height: $footerButtonSignDimension;
            border-top: 2px solid $greyTextColor;
            border-left: 2px solid $greyTextColor;
            transform: rotate(45deg);
          }
        }

        &--menu {
          display: none;
          position: absolute;
          top: -138px;
          width: 245px;
          height: 150px;

          &__visible {
            height: 90px;
            width: 100%;
            background-color: white;
            box-shadow: 4px 5px 30px 5px black;
            display: flex;
            // justify-content: flex-start;
            flex-direction: column;

            span {
              &:nth-of-type(1) {
                line-height: 70px;
              }

              font-weight: $fontWeightBold;
              text-transform: uppercase;
              width: 100%;
              height: 50%;
              margin-left: 1.5rem;
              line-height: 30px;

              &:hover {
                color: $hoverMainColor;
                cursor: pointer;
              }
            }
          }

          &__notVisible {
            height: 60px;
            width: 100%;
          }

          &:hover {
            display: flex;
            opacity: 1;
            flex-direction: column;
          }
        }
      }
    }
  }
}
