@import './constants.scss';
@import './customRadio.scss';

.appSection {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $marginLarge;

  &--radioOptionsContainer {
    width: 100%;

    &--row {
      width: 100%;
      padding: 1.2rem;

      label {
        color: $greyTextColor;
        font-weight: $fontWeightNormal;
        font-size: $fontSizeNormal;
      }
    }
  }

  &--buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &--button {
      margin: 0 1.3rem;
      width: $secondSectionButtonWidth;
      height: $secondSectionButtonHeight;
      font-size: $fontSizeSmall;
      color: $greyTextColor;
      background-color: transparent;
      border-radius: 3px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
      font-weight: $fontWeightBold;
      cursor: pointer;
      outline: none;

      &:hover {
        background: $hoverGradient;
        color: $mainContentTextColor;
      }
    }
  }

  &--header {
    color: $mainContentTextColor;
    text-transform: uppercase;
    font-size: $fontSizeNormal;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin-bottom: $marginLarge;
  }

  &--manipulativeParagraph {
    text-align: center;
    color: $greyTextColor;
    max-width: 90%;
    font-size: $fontSizeSmall;
    overflow: auto;
    max-height: $maxManipulativeHeight;
  }
}
